{% extends "base.html" %}
{% load i18n %}
{% block content %}
<h1>Your reviews</h1>
{% if my_reviews %}
    <ul>
    {% for review in my_reviews %}
        <li><a href="{% url 'reviews:review' review.id %}">
          {{ review.review_template }}
          {% if review.is_started %}
              (started on {{ reivew.start_date }})
          {% else %}
              (not started)
          {% endif %}
        </a></li>
    {% endfor %}
    </ul>
{% else %}
    <p>You have no reviews.</p>
{% endif %}

<form action="{% url 'reviews:create-review' %}" method="post">
    {% csrf_token %}
    Create review from template: 
    <select name="template_id">
        {% for template in templates %}
        <option value="{{ template.id }}">{{ template.name }}</option>
        {% endfor %}
    </select>
    <input type="submit" name="create" value="Create" />
</form>

<hr/>

<h1>Reviews to complete</h1>
{% if my_answer_sheets %}
    <ul>
    {% for answer_sheet in my_answer_sheets %}
        <li><a href="{% url 'reviews:answer' answer_sheet.id %}">
          {{ answer_sheet.review.review_template }} for
          {{ answer_sheet.review.owner }}
        </a></li>
    {% endfor %}
    </ul>
{% else %}
    <p>You have no reviews to complete.</p>
{% endif %}
{% endblock %}
